<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
</head>
<body>
    {{>navbar}}
    <div class="table-data">
<h2>Display The data of companies</h2>
    <table border="1">
        <tr>
            <th>S.N</th>
            <th>Company Name</th>
            <th>Stipend</th>
            <th>Min cpi</th>
            <th>duration in (month)</th>
            <th>Apply</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.cname %></td>
            <td><%=data.stipend %></td>
            <td><%=data.cpi %></td>
            <td><%=data.duration %></td>
            <td><a href="">Now</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>